* {
    color: black;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    line-height: 1.25;
    border: 0;
    font-family: 'Noto Sans', Cantarell, Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

html, body, #pedia-page-wrapper {
    width: 100%;
    height: auto;
}

#pedia-page-top {
    margin: 5px;
}

#pedia-page-body {
    padding: 10pt;
}

#pedia-page-body-wrapper, .pedia-section-body-wrapper {
    padding-left: 10pt;
    border-left: solid 1pt #000000;
}

.pedia-bold, .pedia-bold * {
    font-weight: bold;
}

.pedia-italic, .pedia-italic * {
    font-style: italic;
}

.pedia-unord-list, .pedia-ord-list {
    margin-top: 10pt;
    margin-bottom: 10pt;
    margin-left: 20pt;
    margin-right: 5pt;
}

.pedia-list-elem {
    line-height: 1.5;
}

.pedia-unord-list {
    list-style: disc;
}

.pedia-ord-list {
    list-style: decimal;
}

.pedia-table {
    border-collapse: collapse;
    border: 0;
    margin-bottom: 14pt;
}

.pedia-table-cell, .pedia-table-header {
    text-align: center;
    padding: 7pt;
    border: 1px solid black;
}

.pedia-table-header {
    font-weight: bold;
}

.pedia-title-link {
    font-weight: bold;
}

.pedia-section > .pedia-title {
    font-size: 110%;
    padding-top: 8pt;
    padding-bottom: 4pt;
}

.pedia-section-3 > .pedia-title {
    font-size: 115.5%;
    padding-top: 10pt;
    padding-bottom: 5pt;
}

.pedia-section-2 > .pedia-title {
    font-size: 122.5%;
    padding-top: 12pt;
    padding-bottom: 6pt;
}

.pedia-section-1 > .pedia-title {
    font-size: 140%;
    padding-top: 14pt;
    padding-bottom: 7pt;
}

.pedia-section-0 > .pedia-title {
    font-size: 175%;
    padding-top: 16pt;
    padding-bottom: 8pt;
}

#pedia-page-top > .pedia-title {
    font-size: 200%;
    padding-top: 20pt;
    padding-bottom: 10pt;
}


.pedia-link, .pedia-link * {
    color: #4493F7;
}

.pedia-link:hover {
    text-decoration: underline;
}

.pedia-link:visited, .pedia-link:visited * {
    color: #4C87D0;
}

.pedia-paragraph {
    text-indent: 14pt;
    text-align: justify;
    margin-bottom: 5pt;
    line-height: 1.25;
}

.pedia-paragraph:last-child {
    margin-bottom: 0;
}

.pedia-image {
    max-width: 500pt;
    max-height: 98vh;
    width: 100%;
    background-color: white;
}

.pedia-figure {
    background: #F7F7F7;
    padding: 5pt;
    border: 1pt solid #B0B0B0;
    display: inline-block;
}

.pedia-figure-legend {
    margin: 2pt;
}
